html{
    scroll-behavior: smooth;
    font-size: 20px;
}
body{
    box-sizing: border-box;
    padding:0px;
    margin-top: 0px;
    color: white;
    font-family: "Alegreya Sans",serif;
    font-weight: bold;
    cursor: pointer;
}

.nav{
    position: sticky;
    position: -webkit-sticky; 
    background-color: black;
    display: flex;
    text-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.nav__ul{
    width:70%;
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.nav__ul .navlist{
    margin:0 20px;   
    transition: color 0.5s ease, text-decoration-color 0.5s ease;
}

.nav__ul .navlist:hover{
    color:orange;
    text-decoration: underline orange;
}

.nav__div--1 #first-word{
    font-size: 25px;
}
.nav__div--1 #second-word{
    color: orange;
}

.nav__div--2 .contactme{
    padding: 7px 15px;
    border-radius: 8px;
    border:0px;
    opacity: 0.9;
    font-weight: bold;
}

main{
    border:1px solid orange;
}

.main__section--1{
    display: grid;
    grid-template-areas: 
    "con__1 con__2";
    color: black;
    align-items: center;
}

.main__section--1 .con__1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
    padding: 20px;
    /* background-color: red; */
}

.main__section--1 .con__1-1 .image{
    width:350px;
    height:400px;
    border-radius: 50% / 50%;

}

.main__section--1 .con__1-2 .heading1{
    color: orange;
    font-size: 35px;
    margin-bottom: -15px;
}

.main__section--1 .con__1-2 .heading2{
    text-align: center;
}

.main__section--1 .con__2{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width:50%;
    /* background-color: red; */
}

.main__section--1 .con__2 .heading2_con_2{
    margin-top: 40px;
    font-size: 35px;
    color:orange;
}

.main__section--1 .con__2 .unorderedlist{
    padding:0px;
    margin-left:-7%
}

.main__section--1 .con__2 .unorderedlist .list{
    font-size: 30px;
    margin-bottom: 10px;
}


.main__section--2{
    display: grid;
    grid-template-areas: 
    "experience";
    background-color: rgb(63 63 63);
    color:white;
    padding: 5px 40px 40px 40px;
}

.main__section--2 .main-heading2{
    font-size: 35px;
    color:orange;
}
.main__section--2 .mainul .mainli{
    margin-bottom: 10px;
}

.main__section--3{
    padding: 5px 40px 40px 40px;
    margin: 10px;
    color: black;
}

.main__section--3 .main-heading3{
    font-size: 38px;
    color:orange;
    display: grid;
    grid-template-areas: 
    "con__1"
    "con__2";
}

.main__section--3 .con__1{
    display: flex;
    margin-bottom: 18px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 23px;
}

.main__section--3 .con__2{
    display: flex;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 23px;
}

.main__section--3 .con__1 con1heading1{
    color: orange;
}

.main__section--3 .con__2 .con2heading2{
    color: orange;
}

.main__section--3 .con__1 #con1img{
    width:150px;
    height:150px;
    margin-right: 25px;
}
.main__section--3 .con__2 #con2img{
    width:150px;
    height:150px;
    margin-right: 25px;
}

.main__section--3 h2{
    margin-top:0px;
}

.main__section--4{
    display: grid;
    grid-template-areas: 
    "Certifications Education";
    justify-content: center;
    align-items: center;
    gap: 180px;
    padding: 5px 40px 40px 40px;
}

.main__section--4 .con__1{
    width:50%;
    height: 300px;
    background-color: black;
}

.main__section--4 .con{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 450px;
    height: 350px;
    background-color: rgb(63 63 63);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.main__section--4 .con .headingmain4{
    font-size: 35px;
    margin-top: 35px;
    color:orange;
    
}
.main__section--4 .con .mainlist4{
    font-size: 20px;
    margin-bottom: 15px;
    
}

.footer{
    width:100%;
    background-color: rgb(63 63 63);
    color: white;
    display: grid;
    grid-template-areas: footer;
}

.footer .con__1{
    display: flex;
    justify-content: center;
}

.footer .con__1 .footerimg{
    margin: 10px 10px 15px 10px;
    width:25px;
    height:25px;
}

.footer .con__2{
    display: flex;
    justify-content: center;
}

.footer .con__2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .con__2 .con2p{
    font-size: 20px;
    margin: 0px;

}

.a{
    text-decoration: none;
    text-transform: none;
    color: white;
}
.contact{
    color: black;
}

.hr{
    border-color: orange;
}

@media only screen and (max-width: 500px) {
    .nav{
        position: sticky;
        position: -webkit-sticky; 
        background-color: black;
        display: flex;
        flex-direction: column;
        text-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        z-index: 1000;
    }
    
    .nav__ul .navlist{
        margin:0 10px;   
        transition: color 0.5s ease, text-decoration-color 0.5s ease;
    }
    
    .nav__div--2 .contactme{
        padding: 10px 15px;
        border-radius: 8px;
        border:0px;
        opacity: 0.9;
        font-weight: bold;
        margin: 10px;
    }
    .main__section--1{
        display: grid;
        grid-template-areas: 
        "con__1"
        "con__2";
        color: black;
        align-items: center;
        padding: 20px;
    }

    .main__section--1 .con__1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        padding: 10px;
        /* background-color: red; */
    }

    .main__section--1 .con__2{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        width:100%;
        /* background-color: red; */
    }

    .main__section--3 .main-heading3{
        font-size: 38px;
        color:orange;
        display: grid;
        grid-template-areas: 
        "con__1"
        "con__2";
    }
    
    .main__section--3 .con__1{
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 23px;
    }
    
    .main__section--3 .con__2{
        display: flex;
        flex-direction: column;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 23px;
    }

    .main__section--4{
        display: grid;
        grid-template-areas: 
        "Certifications"
        "Education";
        gap: 40px;
        padding: 5px 40px 40px 40px;
    }
    
}